<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="weather-title">
            <h1>Find Out The Weather</h1>
            <p>View the current weather</p>
        </div>
        <form action="/" method="POST">
            <input type="text" name="city" id="city-input" placeholder="Enter a City">
        </form>

        <div class="result">
            <% if(temp !== null) {%>
                <h1 class="temp"><%= temp %></h1>
            <% } %>

            <div class="icons-des">
                <% if(icon !== null) {%>
                    <img class="icon" src="http://openweathermap.org/img/w/<%= icon %>.png" alt="">
                <% } %>
                
                <% if(des !== null) {%>
                    <h3><%= des %></h3>
                <% } %>
            </div>

            <% if(city !== null) {%>
                <p class="city"><%= city %></p>
            <% } %>
        </div>
    </div>
</body>
</html>